    .drawer {
        position: absolute;
        top: 0;
        left: 0;

        .sidebar {
            position: fixed;
            top: 40px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            z-index: 1000;
            width: 80%;

            a {
                position: relative;
                text-decoration: none;
                display: block;
                margin: 0 20px;
                padding: 20px 0;
                border-bottom: solid 1px;
                box-sizing: border-box;

                &:after {
                    content: '';
                    position: absolute;
                    border-top: solid 1px;
                    border-right: solid 1px;
                    width: 20px;
                    height: 20px;
                    display: block;
                    transform: rotate(45deg) translate3d(0, -50%, 0);
                    top: 50%;
                    right: 20px;
                }
            }

        }

        .mask {
            position: fixed;
            top: 40px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;


        }

        :global {
            .transform-enter {
                transform: translateX(-100%)
            }

            .transform-enter-active {
                transform: translateX(0%);
                transition: transform .3s ease-in-out;
            }

            .transform-exit {
                transform: translateX(0%)
            }

            .transform-exit-active {
                transform: translateX(-100%);
                transition: transform .3s ease-in-out;
            }

            .opacity-enter {
                opacity: 0;
            }

            .opacity-enter-active {
                opacity: 1;
                transition: opacity .3s ease-in-out;
            }

            .opacity-exit {
                opacity: 1;
            }

            .opacity-exit-active {
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }
        }

    }