.portal-container{
    .menu{
        height: 100%;
        border-right:0
    }
    .content-container{
        padding: 0 12px 12px;
        .nav-tabs-wrap{
            height: 28px;
            margin: 12px 0;
            .ant-tabs-nav{
                margin-bottom: 0;
                .ant-tabs-nav-list{
                    height: 28px;
                    .ant-tabs-tab{
                        border:none;
                    }
                }
            }
        }
        .ant-tabs-nav-operations{
            .ant-tabs-nav-more{
                height: 28px;
                line-height: 28px;
            }
        }
        .content{
            margin: 0;
            overflow: auto;
        }
        .fullscreen{
            font-size: 20px;
            margin-right: 12px;
        }
        .fullscreen:hover{
            .anticon{
                transform: scale(1.4);
                color: #1890ff;
            }
        }
    }
} 

.fullscreen_wrap{
    .ant-popover-inner-content{
        padding: 0 4px;
        font-size: 12px;
    }
}