.portal-container{
    .menu{
        height: 100%;
        border-right:0
    }
    .content-container{
        padding: 0 24px 24px;
        .content{
            padding: 24px;
            margin: 0;
            min-height: 280;
        }
        .nav-tabs{
            margin-top: 12px;
            .ant-tabs-nav{
                margin-bottom: 0;
                .ant-tabs-nav-list{
                    height: 28px;
                    .ant-tabs-tab{
                        border:none;
                    }
                }
            }
        }
        .fullscreen:hover{
            .anticon{
                transform: scale(1.4);
                color: #1890ff;
            }
        }
    }
} 

.fullscreen_wrap{
    .ant-popover-inner-content{
        padding: 0 4px;
        font-size: 12px;
    }
}